/*******************************************/
/*             My Landing Page             */
/*          CSS by Ibai Fernández          */
/*               Version: 1.0              */
/*        Date: February, 24th 2021        */
/*        Code Journey - Stage #1          */
/*******************************************/

/*********** Pending Tasks ******************

********************************************/

/********** Import Google Fonts ************/

@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap");

/**** Reset browser's default settings ****/

* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  /* --hue1: #4C708D; 
     --hue2: #0D2C40;
     --hue3: #06ACBF;
     --hue4: #01657B; 
     --hue5: #B5695B;
  */

  --hue1: rgba(75, 112, 140, 1);
  --hue2: rgba(13, 43, 63, 1);
  --hue3: rgba(5, 172, 191, 1);
  --hue4: rgba(1, 100, 123, 1);
  --hue5: rgba(181, 105, 91, 1);
  scroll-behavior: smooth;
}

body {
  /* background-color: red; */
  font-family: "Noto Sans", sans-serif;
  font-size: 2vw;
}

header {
  background-image: url("../img/mandala-psychology-cover.jpg");
  background-size: cover;
  border-bottom: 2px solid var(--hue2);
  display: flex;
  flex-direction: column;
  height: 90vmin;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Akaya Telivigala", sans-serif;
  color: white;
}

p {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

video {
  border: 5px solid var(--hue1);
}
label {
  font-size: 1vw;
}

input[type="text"],
input[type="email"] {
  padding: 1.5vmin;
  border-radius: 10px;
  opacity: 0.75;
  width: 25vw;
  font-family: "Noto Sans", sans-serif;
}

input:focus {
  outline: 0;
  box-shadow: 0 0 5px black;
}

.bar {
  width: 100%;
  background-color: rgba(13, 43, 63, 0.95);
  position: fixed;
}

.logo-bar {
  display: flex;
  justify-content: center;
  height: 5vh;
  margin: 5vmin 10vw 0 10vw;
}

.logo-circle {
  background-color: whitesmoke;
  border-radius: 50%;
  display: flex;
  height: 10vmax;
  justify-content: center;
  width: 10vmax;
}

.logo-div img {
  opacity: 0.75;
}

.logo-link:hover {
  animation: logo-link 400ms ease-out forwards;
}

@keyframes logo-link {
  100% {
    transform: scale(1.125);
  }
}

nav {
  color: white;
  display: flex;
  font-family: "Akaya Telivigala", sans-serif;
}

.navigation {
  width: 100%;
  margin: 1vh 8vw;
}

.navigation-bar {
  display: flex;
}

.navigation-left {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.navigation-left ul li {
  display: inline;
  margin: 0 5vw 0 0;
}

.navigation-right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.navigation-right ul li {
  display: inline;
  margin: 0 0 0 5vw;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 0.5vh;
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.cta-feature {
  background-color: rgba(1, 100, 123, 0.5);
  border: 2px solid white;
  border-radius: 17% 88% 25% 75% / 75% 17% 88% 25%;
  box-shadow: 0 0 15px 5px white;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 95vmin;
  height: 25vw;
  padding: 5vh;
  margin: 65vmin 0 0 0;
  text-shadow: 0 0 5px rgba(13, 43, 63, 1);
}

.cta-feature p {
  margin: 2vmax 0;
  font-family: "Akaya Telivigala", sans-serif;
}

.cta-button {
  background-color: rgba(181, 105, 91, 0.5);
  display: flex;
  justify-content: center;
  padding: 2vmin;
  color: whitesmoke;
  margin: 1vmax auto 0 auto;
  border: 2px solid white;
  border-radius: 17% 88% 25% 75% / 75% 17% 88% 25%;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.25vmax;
  font-weight: 900;
  width: 14vw;
}

.cta-button:hover {
  animation: logo-link 400ms linear forwards;
  cursor: pointer;
}
form {
  display: flex;
  justify-content: center;
}
.form-div {
  display: flex;
  flex-direction: column;
  margin: 1vh 0;
}

.mail-div {
  background-color: var(--hue5);
  border-bottom: 2px solid var(--hue2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2vh 0;
}

.mail-cta {
  text-align: center;
  font-size: 2.5vmax;
  font-family: "Akaya Telivigala", sans-serif;
}

.mail-cta-description {
  font-size: 1vmax;
  color: whitesmoke;
  text-align: center;
}

.userdata {
  display: flex;
  align-items: center;
  justify-content: center;
}

.username {
  width: 33vw;
}

.usermail {
  width: 33vw;
}

.user-acceptance {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1vh;
}

.acceptance {
  margin-left: 10px;
  font-size: 1.25vw;
}

.submit-button {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-weight: 900;
  background-color: var(--hue4);
  padding: 1.5vh;
  margin: 1vh auto;
  border: 2px solid white;
  border-radius: 17% 88% 25% 75% / 75% 17% 88% 25%;
  font-family: "Noto Sans", sans-serif;
  font-size: 1vmax;
}

.submit-button:hover {
  cursor: pointer;
  animation: logo-link 400ms linear forwards;
}

.about-us {
  background-image: url("../img/flower.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  box-sizing: border-box;
}

.about-us h2 {
  color: var(--hue2);
}

.subtitle-light {
  color: var(--hue1);
}

.about-us-div {
  background-color: rgba(1, 100, 123, 0.5);
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2vh;
  margin: 5vh 0 7.5vh 0;
  align-items: center;
  width: 75vw;
}

.about-us-feature {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 2vh;
  padding: 2vh;
}

.feature-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.feature-icon {
  width: 10vh;
  height: 10vh;
  display: flex;
}

.feature-text {
  text-align: center;
  padding: 1vh;
  margin: 2vh 0 0 0;
}

.feature-text h3 {
  color: var(--hue2);
  font-size: 1.5rem;
}

.feature-text p {
  margin: 2vh 0 4vh 0;
  color: var(--hue2);
  font-size: 1rem;
}

.our-facilities {
  background-color: var(--hue1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5vh 0;
}

.our-facilities-header {
  text-align: center;
  width: 100%;
  margin: 0 0 5vh 0;
}

.our-facilities-div {
  background-color: var(--hue1);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.our-facilities-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-box {
  display: flex;
  align-items: center;
  margin: 4vh 0 0 0;
}

.facilities-feature-icon {
  width: 5vh;
  height: 5vh;
  display: flex;
}

.our-facilities-left {
  box-sizing: border-box;
  width: 50%;
  padding: 5vh;
}

.our-facilities-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-facilities-content h3 {
  margin: 2vh 0;
}

.our-facilities-content p {
  font-size: 1rem;
  margin: 0 0 0 2vh;
  width: 80%;
}

.our-facilities-button {
  display: flex;
  justify-content: center;
  width: 100%;
}

.our-therapies {
  background-image: url("../img/sea.jpg");
  background-size: cover;
  padding: 5vh;
}

.our-therapies-title {
  text-align: center;
  margin: 0 0 5vh 0;
}

.our-therapies-title h2 {
  color: whitesmoke;
}

.our-therapies-title p {
  color: whitesmoke;
  font-size: 1rem;
}

.our-therapies-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 2.5vh 0 0 0;
}

.our-therapies-box {
  background-color: rgba(181, 105, 91, 0.5);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 0 2vh 0;
  margin: 1vh;
}

.our-therapies-box-img {
  background-size: cover;
  height: 200px;
  display: flex;
  align-items: center;
}

.img-1 {
  background-image: url("../img/calm.jpg");
}

.img-2 {
  background-image: url("../img/breeze.jpg");
}

.img-3 {
  background-image: url("../img/zen.jpg");
}

.our-therapies-box-img-title {
  /* background-color: green; */
  display: flex;
  justify-content: center;
  width: 100%;
}

.our-therapies-box-img-title h4 {
  color: whitesmoke;
}

.our-therapies-box-description {
  box-sizing: border-box;
  text-align: center;
  padding: 1vw;
  font-size: 2.5vh;
  font-family: "Akaya Telivigala", sans-serif;
  margin: 0 0 1vw 0;
}

.our-therapies-box-features {
  /* background-color: purple; */
  display: flex;
  justify-content: center;
  font-size: 1rem;
  border-bottom: 1px dotted black;
  padding: 1vh 0;
  text-align: center;
}

.our-therapies-box-pricing {
  display: flex;
  justify-content: center;
  padding: 1vh 0;
  font-family: "Akaya Telivigala", sans-serif;
  font-size: 5vw;
}

.our-therapies-box-notes {
  box-sizing: border-box;
  padding: 2vh;
  height: 10%;
  display: flex;
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
}

.our-therapies-box-button {
  /* background-color: yellow; */
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.testimonials {
  background-color: var(--hue1);
  padding: 10px;
}

.testimonials-title {
  margin: 2.5vh;
  text-align: center;
}

.testimonials-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.testimonials-box {
  display: flex;
  border-radius: 17% 88% 25% 75% / 75% 17% 88% 25%;
  align-items: center;
  width: 75%;
  background-color: rgba(5, 172, 191, 0.5);
  box-shadow: 0 0 5px 5px rgba(5, 172, 191, 0.5);
  margin: 5vh 0;
}

.testimonials-box-reverse {
  display: flex;
  background-color: rgba(5, 172, 191, 0.5);
  box-shadow: 0 0 5px 5px rgba(5, 172, 191, 0.5);
  border-radius: 17% 88% 25% 75% / 75% 17% 88% 25%;
  align-items: center;
  width: 75%;
}

.testimonial-pic {
  display: flex;
  width: 15vw;
  height: 15vw;
  /* background-color: black; */
}

.testimonial-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.5vw;
}

.testimonial-text p {
  font-family: "Akaya Telivigala", sans-serif;
  margin: 0 0 2vh 4vh;
}

.testimonial-text-reverse {
  display: flex;
  text-align: right;
  flex-direction: column;
  margin: 0 2vw;
  font-size: 1.5vw;
}

.testimonial-text-reverse p {
  font-family: "Akaya Telivigala", sans-serif;
  margin: 0 4vh 2vh 0;
}

.author {
  font-family: "Noto Sans", sans-serif !important;
}

.testimonial-pic img {
  display: flex;
  border-radius: 50%;
}

.contact {
  background-image: url("../img/breeze.jpg");
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2vw;
}

.contact-info {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  line-height: 5vh;
  /* background-color: black; */
}

.contact-info h2 {
  margin: 0 0 2vh 0;
}

.contact-info p {
  font-size: 1.5vw;
}

.contact-form-div {
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}

.contact-form input {
  display: flex;
  margin: 1vw;
}

.contact-form input[type="submit"] {
  display: flex;
  margin: 2vw auto;
}

textarea {
  display: flex;
  margin: 1vw auto;
  padding: 1.5vmin;
  border-radius: 10px;
  opacity: 0.75;
  font-family: "Noto Sans", sans-serif;
}

.footer {
  background-color: var(--hue2);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 12px solid var(--hue5);
}

.credits {
  background-color: var(--hue1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  font-size: 1vw;
}

.web-author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.credits ul {
  margin: 15px;
}

.credits ul li {
  display: inline;
  padding: 0 25px 0 25px;
}

.credits ul li a {
  color: var(--color1, #f2f2f2);
  text-decoration: none;
}

.credits ul li a:hover {
  color: var(--hue2);
  text-decoration: none;
  transform: scale(1.5);
}

.credits p {
  color: var(--color1, #f2f2f2);
}

.credits a {
  color: var(--color1, #f2f2f2);
}

.credits a:hover {
  color: var(--hue2);
}

#whatsapp {
  position: fixed;
  display: flex;
  box-shadow: 0 0 5px 5px lime;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  color: white;
  width: 9vh;
  height: 9vh;
  border-radius: 50%;
  background-color: lime;
  bottom: 20px;
  right: 20px;
}

#whatsapp:hover {
  animation: logo-link 400ms linear forwards;
}

@media (max-width: 1024px) {
  .logo-bar {
    height: 3vh;
    margin: 3vw 5vw 0 5vw;
  }

  .logo-circle {
    display: flex;
    justify-content: center;
    width: 14vw;
    height: 14vw;
  }

  .nav-link {
    font-size: 2.5vw;
  }

  .cta-feature {
    width: 75vmin;
    height: 30vw;
  }

  .cta-feature h1 {
    font-size: 8vw;
  }

  .cta-feature p {
    margin: 1vmax;
    font-size: 4vw;
  }

  .cta-button {
    width: 50vw;
    padding: 3vmin;
    font-size: 4vmin;
  }

  .mail-cta {
    font-size: 4vmax;
  }

  .mail-cta-description {
    font-size: 4vw;
    margin: 0 4vmax;
    text-align: center;
  }

  .form-div {
    width: auto;
  }

  .userdata {
    flex-direction: column;
    width: auto;
  }

  .username,
  .usermail {
    width: 100%;
  }

  input[type="text"],
  input[type="email"] {
    padding: 1.5vmin;
    border-radius: 10px;
    opacity: 0.75;
    margin: 1vh;
    width: 90%;
    font-family: "Noto Sans", sans-serif;
  }

  .acceptance {
    font-size: 2vw;
  }

  .about-us h2 {
    font-size: 8vw;
    text-align: center;
  }

  .subtitle-light {
    font-size: 4vw;
  }

  .about-us-feature {
    padding: 2vh 6vh;
  }

  .our-facilities-header h2 {
    font-size: 8vw;
  }

  .subtitle-dark {
    font-size: 4vw;
  }

  .our-facilities-header {
    margin: 0 0 2vh 0;
  }

  .our-facilities-div {
    flex-direction: column;
    padding: 0;
  }

  .our-facilities-div h3 {
    font-size: 7vw;
    text-align: center;
  }

  .our-facilities-left {
    width: 100%;
    padding: 2vh;
  }

  .content-box {
    flex-direction: column;
  }

  .our-facilities-content p {
    margin: 2vh 0 0 0;
  }

  .our-facilities-right {
    width: 100%;
    margin: 2vh 0 0 0;
  }

  .our-facilities-button {
    margin: 2vh 0 0 0;
  }

  .our-therapies-title h2 {
    font-size: 7vw;
  }

  .our-therapies-title p {
    font-size: 3.5vw;
  }

  .our-therapies-box-img-title {
    font-size: 8vw;
  }

  .our-therapies-box-pricing {
    font-size: 12vw;
  }

  .our-therapies-box-description {
    margin: 2vw 0;
  }

  .testimonials-title h2 {
    font-size: 8vw;
    line-height: 5vw;
    margin: 0 0 2vw 0;
  }

  .testimonials-title p {
    font-size: 4vw;
  }

  .testimonials-div {
    align-items: center;
  }

  .testimonials-box {
    flex-direction: column;
    height: 26vh;
  }

  .testimonials-box-reverse {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 25vh;
  }

  .testimonial-text {
    font-size: 1.75vh;
    width: 80%;
    margin: 1vh 0 0 0;
  }

  .testimonial-text p {
    margin: 1vh 0 0 0;
  }

  .testimonial-text-reverse {
    font-size: 1.75vh;
    width: 80%;
    text-align: left;
    margin: 1vh 0 0 0;
  }

  .testimonial-text-reverse p {
    margin: 0;
  }

  .author {
    text-align: right;
  }

  .testimonial-text-reverse  {
    text-align: center;
  }

  .contact {
    flex-direction: column;
  }

  .contact-info {
    flex-direction: column;
    text-align: center;
    line-height: 4vh;
  }

  .contact-info h2 {
    font-size: 8vw;
    margin: 2vh 0 0 0;
  }

  .contact-info p {
    font-size: 3vw;
  }

  #whatsapp {
    font-size: 2rem;
    width: 6vh;
    height: 6vh;
  }
}
